.contener-tecnologico{
    margin-top: 0px;
    background-color: #1cb698;
    padding: 0.4rem 0px;
    border-bottom: 3px solid #046351;
    border-radius: 0px 0px 0.5rem 0.5rem;
    box-shadow: 0 4px 11px rgb(226 219 217 / 85%);
}